.outerTodo{
    margin: 20px auto;
    width: 60%;
    min-height: 40px;
    border: 1px solid;
    font-size: 24px;
    line-height: 40px;
    border-radius: 5px;
    word-break: break-all;
    box-shadow: 2px 2px 3px #aaaaaa;
    cursor: pointer;
}
.isdone{
    float: left;
    text-decoration: line-through;
}
.notdone{
    float: left;
}
.rightTodo{
    margin-right: 50px;
    float: right;
}
img{
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.outerCard{
    float: left;
    margin: 40px;
}