.outerTodo{
    margin: 20px auto;
    width: 70%;
    height: 40px;
    border: 1px solid;
    font-size: 24px;
    line-height: 40px;
    border-radius: 5px;
}
.isdone{
    margin-left: 50px;
    float: left;
    text-decoration: line-through;
}
.notdone{
    margin-left: 50px;
    float: left;
}
.rightTodo{
    margin-right: 50px;
    float: right;
}
img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}